{% include "partials/header.njk" %}

<section class="pricing-header pb-5 border-bottom" itemscope itemtype="https://schema.org/WebPageElement">
    <div class="header-hero text-center px-4">
        <p class="accent-text mb-0" itemprop="description">{{ uptitle }}</p>
        <h1 itemprop="headline">{{ title }}</h1>
        <div class="col-md-6 col-xl-6 mx-auto px-0 px-md-4 px-sm-5">
            <p class="mb-4 display-8" itemprop="description">
              {{ description }}
            </p>
        </div>
    </div>
</section> 

{{ content | safe}}

{% include "partials/footer.njk" %}

