{% include "partials/header.njk" %}

<section class="pricing-header pb-3" itemscope itemtype="https://schema.org/WebPageElement">
    <div class="header-hero container">
      <div class="col-md-6 col-lg-5 text-center mx-auto">
      <p class="accent-text mb-0" itemprop="description">{{ uptitle }}</p>
      <h1 itemprop="headline">{{ title }}</h1>
      <p class=" mb-4 display-8" itemprop="description">{{ description }}</p>
      </div>
    </div>
</section>
  

{{ content | safe}}

{% include "partials/footer.njk" %}

