:root, 
.light {
    --color-light-1: #fff;
    --color-light-2: #f7f8f9;
    --color-light-3: #e7e9eb;
    --color-dark-1: #111115;
    --color-dark-2: #1b1b21;
    --color-accent-1: #a92211;
    --color-accent-2: #8f0606;
    --color-border-1: #8b8b8b3b;
    --color-text: #505459;
}

.dark {
    --color-light-1: #111115;
    --color-light-2: #1b1b21;
    --color-light-3: #000000;
    --color-dark-1: #fff;
    --color-dark-2: #f7f8f9;
    --color-text: #b7b8ba;
}

@media(prefers-color-scheme: dark) {
    :root {
        --color-light-1: #111115;
        --color-light-2: #1b1b21;
        --color-light-3: #000000;
        --color-dark-1: #fff;
        --color-dark-2: #f7f8f9;
    }
}

.bg-light-1 {
    background-color: var(--color-light-1);
}

.bg-light-2 {
    background-color: var(--color-light-2);
}

.bg-dark-1 {
    background-color: var(--color-dark-1);
}

.bg-dark-2 {
    background-color: var(--color-dark-2);
}

.color-accent-1 {
    color: var(--color-accent-1);
}

.color-accent-2 {
    color: var(--color-accent-2);
}

.color-light-1 {
    color: var(--color-light-1);
}

.color-light-2 {
    color: var(--color-light-2);
}


.logo-light,
.icon-light {
    display: none;
}

.dark .icon-light,
.dark .logo-light {
    display: block!important
}

.dark .icon-dark,
.dark .logo-dark {
    display: none!important
}

