body {
    margin: 0;
    background: var(--color-light-1);
    color: var(--color-dark-1);
    font-family: "DM Sans", sans-serif;
}

body::before {
  --line: var(--color-border-1);
  --cell: 60px;
  content: "";
  top: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--cell)) 0 calc(var(--cell) * -0.5) / var(--cell) var(--cell), linear-gradient(var(--line) 1px, transparent 1px var(--cell)) 0 calc(var(--cell) * -0.5) / var(--cell) var(--cell);
  -webkit-mask: linear-gradient(-15deg, transparent 30%, var(--color-light-1));
  mask: linear-gradient(-15deg, transparent 30%, var(--color-light-1));
  pointer-events: none;
  z-index: -1
}

main {
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}



.hero-svg {
    padding: .35em 1em .25em;
    width: fit-content;
    background-color: var(--color-light-1);
    border-radius: 60px;
    border: 1px solid var(--border-color-1);
}

.hero-svg svg {
    width: 250px;
    height: auto;
}

.avatars-wrap {
  margin-left: 2em;
  margin-right: .5em;
}

.avatars-wrap img {
  width: 40px;
  margin-right: -0.65em;
  border: 3px solid var(--color-light-1);
  border-radius: 50%;
}

.avatars-wrap img:last-child {
  margin-right: .5em
}

.avatars-desc span {
  font-size: 14px;
}

.avatars-desc span:first-child {
  opacity: .55;
}


.service-card {
  padding: 2em;
  background: var(--color-light-2);
  border: 1px solid var(--border-color-1);
  border-radius: 12px;
}


.blur-load {
    position: relative
  }
  
  .blur-load .placeholder {
    height: inherit;
    width: 100%;
    filter: blur(5px);
    transition: opacity .5s cubic-bezier(.79,0,.07,.88);
    object-fit: cover;
    z-index: 1
  }
  
  .blur-load.loaded .placeholder {
    opacity: 0
  }
  
  .blur-load picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: opacity .5s cubic-bezier(.79,0,.07,.88);
    opacity: 0
  }
  
  .blur-load.loaded picture img {
    opacity: 1
  } 