body {
    margin: 0;
    background: var(--color-light-1);
    color: var(--color-dark-1);
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
}

/*
body::before {
  --line: var(--color-border-1);
  --cell: 60px;
  content: "";
  top: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--cell)) 0 calc(var(--cell) * -0.5) / var(--cell) var(--cell), linear-gradient(var(--line) 1px, transparent 1px var(--cell)) 0 calc(var(--cell) * -0.5) / var(--cell) var(--cell);
  -webkit-mask: linear-gradient(-15deg, transparent 30%, var(--color-light-1));
  mask: linear-gradient(-15deg, transparent 30%, var(--color-light-1));
  pointer-events: none;
  z-index: -1
}
*/

.grid-wrap {


  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: .65;
  z-index: -1;
}

.grid-line {
  height: 100vh;
  border-left: 1px solid var(--color-border-1);
}

.grid-line:last-child {
  border-right: 1px solid var(--color-border-1);
}

main {
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}






  

.hero-svg {
  padding: .35em 1em .25em;
  width: fit-content;
  background-color: var(--color-dark-2);
  border-radius: 60px;
  border: 1px solid var(--border-color-1);
}

.hero-svg svg {
  width: 250px;
  height: auto;
}

.avatars-wrap {
margin-right: .5em;
}

.avatars-wrap img {
width: 40px;
margin-right: -0.65em;
border: 3px solid var(--color-dark-2);
border-radius: 50%;
}

.avatars-wrap img:last-child {
margin-right: .5em
}

.avatars-desc span {
font-size: 14px;
}

.avatars-desc span:first-child {
opacity: .7;
}

@media(min-width:767px) {
.avatars-wrap {
  margin-left: 2em;
}  
.hero-img {
  margin-top: -50px;
}
}


.blur-overlay {
  position: absolute;
  top: 0;
  left: 0.75rem;
  right: 0.75rem;
  bottom: 0;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--color-border-1);
  z-index: 0;
}

.blur-overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-dark-2);
  filter: blur(100px);
  opacity: .75;
}

@media(min-width:767px) {
  .blur-overlay {
    top: -2.5em;
    left: -3em;
    right: -3em;
    bottom: 6em;
  }
  .blur-overlay::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


.decoration-circle {
  background-color: var(--color-accent-1);
  filter: blur(300px);
  border-radius: 100%;
  width: 21em;
  height: 21em;
  position: absolute;
  top: 0em;
  left: 0em;
  filter: blur(200px);
  overflow: visible;
  opacity: .4;
  z-index: -1;
}

@media(min-width:767px) {
  .decoration-circle {
    width: 35em;
    height: 35em;
    top: -3em;
    left: -5em;
  }
}






