body {
    background: var(--color-light-1);
    color: var(--color-dark-1);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
}

main {
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}



.hero-svg {
    padding: .35em 1em .25em;
    width: fit-content;
    background-color: var(--color-light-1);
    border-radius: 60px;
    border: 1px solid var(--border-color-1);
}

.hero-svg svg {
    width: 250px;
    height: auto;
}


