
button {
    background: transparent;
    border: none;
}

.pm-button {
    display: inline-flex;
    align-items: center;
    padding: .9em 1.8em;
    background: #ff5b49;
    border-radius: 15px;
    font-weight: 600;
    color: #fff;
    transition: .25s ease-in-out;
}

.pm-button svg {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    transition: .25s ease-in-out;
}

.pm-button:hover {
    background: #222;
}

.pm-button:hover svg {
    transform: translateX(5px);
}
