header {
    padding-top: .8em;
    padding-bottom: .8em;
    border-bottom: 1px solid var(--border-color-1);
}

.logo img {
    width: 160px;
}

.main-menu ul li {
    display: inline-block;
    margin-right: 3em;
}

.main-menu ul li a {
    position: relative;
    color: var(--color-dark);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.main-menu ul li a::before {
    position: absolute;
    content: "";
    top: 52%;
    left: -1.2em;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    background-color: var(--color-accent-1);
    border-radius: 50%;
    opacity: 0;
}

.main-menu ul li a.link-active::before {
    animation: pulseDot 3s infinite forwards;
}

@keyframes pulseDot {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}