.radius-sm {
    border-radius: 15px;
    overflow: hidden;
  }
  
  .radius-md {
    border-radius: 25px;
    overflow: hidden;
  }
  
  .radius-lg {
    border-radius: 35px;
    overflow: hidden;
  }