---
layout: layouts/page.njk
uptitle: Dane kontaktowe
title: Kontakt
description: Skontaktuj się ze mną telefonicznie, mailowo lub poprzez formularz kontaktowy. Chętnie podpowiem i pomogę wybrać optymalne rozwiązanie.
---

 <section class="pricing py-5 position-relative">
    <div class="container mb-5">
      <div class="row g-4 justify-content-center">
        <div class="col-md-6">
        {% include "sections/form.njk" %}
        </div>
      </div>
    </div>
  </section>
  



