---
title: Realizacje
description: Zobacz wybrane realizacje stron, sklepów i portali internetowych które wykonałem.
---

<section class="pt-medium pb-medium bg-light-1">
    <div class="container">
    <div class="row g-3 g-md-4">
    {% for post in collections.works %}
        <div class="col-md-6 mb-4">
        {% workImage "src/" + post.data.thumbnail, post.data.title %}
        <h3>
            {{ post.data.title }}
        </h3>
        </div>
    {% endfor %}
    </div>
    </div>
</section>