---
title: Realizacje
description: Zobacz wybrane realizacje stron, sklepów i portali internetowych które wykonałem.
---



<section class="my-5 py-5">
    <div class="container">
    <div class="row g-4">
    {% for post in collections.works %}
        <div class="col-md-6 mb-4">
        {% workImage "src/" + post.data.thumbnail, post.data.title %}
        <h2>
            {{ post.data.title }}
        </h2>
        </div>
    {% endfor %}
    </div>
    </div>
</section>