
<footer class="pt-5" itemscope itemtype="https://schema.org/Organization" id="kontakt">
  <section class="footer-cta py-5 border-bottom position-relative">
    <div class="p-4 p-xs-5">
      <h2 class="text-center w-100 mb-0 text-white">Zacznijmy współpracę</h2>
      <p class="mb-0 display-8 text-center w-100 text-white py-3">
        Nie wiesz od czego zacząć? Zadzwoń, pomogę wybrać optymalne rozwiązanie.
      </p>
      <div class="d-md-flex gap-0 gap-3 justify-content-center text-center py-4">
        <a href="tel:+48788660190" title="Zadzwoń do mnie" class="btn btn-primary btn-lg ps-4 pe-4 py-2 my-2 d-flex" itemprop="url">+48 788 660 190  
          <svg class="ms-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="width:18px;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#fff;}.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#c91717;}
            </style>
            <g>
              <path class="st0" d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"></path>
              <path class="st1" d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
                c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"></path>
            </g>
          </svg>
        </a>
        <a href="mailto:kontakt@przemekmiros.pl" title="Napisz do mnie" class="btn btn-primary btn-lg ps-4 pe-4 py-2 my-2 d-flex" itemprop="url">kontakt@przemekmiros.pl 
          <svg class="ms-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="width:18px;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#fff;}.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#c91717;}
            </style>
            <g>
              <path class="st0" d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"></path>
              <path class="st1" d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
                c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <div class="py-5 footer-links">
    <div class="container">
      <p class="text-white text-center mb-3" >Kompleksowo wykonam dla Ciebie piekną wysokowydajną stronę internetową <br class="d-none d-md-block"/>która przekona więcej klientów niż strony Twojej konkurencji</p>
    </div>
    <ul class="nav col-md-4 justify-content-center w-100 container" itemscope itemtype="https://schema.org/SiteNavigationElement"> 
      <li class="nav-item"><a title="Facebook" href="https://www.facebook.com/przemekstronyinternetowe" class="nav-link px-2 text-body-secondary text-white muted-50" itemprop="url">Facebook</a></li>
      <li class="nav-item"><a title="Github" href="https://github.com/PrzemekMiros" class="nav-link px-2 text-body-secondary text-white muted-50" itemprop="url">Github</a></li>
      <li class="nav-item"><a title="Behance" href="https://www.behance.net/przemyslaw" class="nav-link px-2 text-body-secondary text-white muted-50" itemprop="url">Behance</a></li>
    </ul>
    <ul class="nav col-md-4 justify-content-center w-100 container" itemscope itemtype="https://schema.org/SiteNavigationElement">
      <li class="nav-item"><p class="text-white mb-0 p-2 muted-50">
        <img loading="lazy" class="pe-3" src="/assets/img/favicon/favicon.svg" width="35" alt="">© 2024 <span itemprop="name">Przemek Miros</span>.</p></li>
    </ul>
  </div>
</footer>
<!--
<div id="cookieConsent" class="p-4 cookie-banner">
  <p class="mb-2"><b>Ta strona używa plików cookies</b></p>
  <p>Używamy plików cookie, aby polepszyć użyteczność strony. <br>Korzystając z naszej witryny, akceptujesz <a href="cookie-policy.html">politykę prywatności</a>.</p>
  <button id="acceptCookies" class="btn btn-primary btn-lg ps-4 pe-4 py-2  d-flex me-0 me-md-3">Akceptuj</button>
  <button id="rejectCookies" class="btn btn btn-secondary btn-lg ps-4 pe-4 py-2  d-flex">Odrzuć</button>
</div>
-->
</div>
</div>
</body>
<script src="/assets/js/libs/split-text.js"></script>
<script src="/assets/js/libs/swup.js"></script>
<script src="/assets/js/libs/swup-progress.js"></script>
<script src="/assets/js/libs/swup-body.js"></script>
<script src="/assets/js/libs/gsap.js"></script>
<script src="/assets/js/libs/scroll-trigger.js"></script>
<script src="/assets/js/libs/gsap-flip.js"></script>
<script src="/assets/js/libs/lenis.js"></script> 
<script src="/assets/js/animations.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  window.addEventListener('load', function() {
  appMain(); animationMain()
  });
  const swup = new Swup({
    animateHistoryBrowsing: true, 
    plugins: [
      new SwupProgressPlugin(),
      new SwupBodyClassPlugin()
    ]
  });
  swup.hooks.on('page:view', () => {
       appMain(); animationMain()
  }, { before: true });
</script> 

</html>


