    </main>
    <footer>
        <div class="container">
            <p>&copy; {% year %}</p>
        </div>
    </footer>
<script src="/assets/js/main.js"></script>
<script src="https://unpkg.com/swup@4"></script> 
<script src="https://unpkg.com/@swup/progress-plugin@3"></script>
<script>   
   const swup = new Swup({   
   plugins: [
   new SwupProgressPlugin()
   ] 
   });
</script>
</body>
</html>