    </main>
    </div>
    <div class="grid-wrap">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-3 grid-line"></div>
                <div class="col-md-3 grid-line"></div>
                <div class="col-md-3 grid-line"></div>
                <div class="col-md-3 grid-line"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; {% year %}</p>
        </div>
    </footer>
<script src="/assets/js/main.js"></script>
<script src="https://unpkg.com/swup@4"></script> 
<script src="https://unpkg.com/@swup/progress-plugin@3"></script>
<script>   
    window.addEventListener('load', function() {
        mainApp()
    });
    const swup = new Swup({   
        plugins: [
            new SwupProgressPlugin()
        ] 
    });
    swup.hooks.on('page:view', () => {
       mainApp()
    }, { before: true });
</script>
<script src="/assets/js/cookieconsent.js" defer></script>
<script type="module" src="/assets/js/cookieconsent-config.js" defer></script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Przemek Miros Strony Internetowe",
    "url": "https://przemekmiros.pl/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>   
</body>
</html>