<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Eleventy"/>
        <title>{{ title }} - {{ meta.siteName }}</title>
        <meta name="description" content="{{ description }}"> {% set robots = robots | default('index') %}
        <meta name="robots" content="{{ robots }}">
        <link rel="icon" type="image/png" href="/assets/img/logo/favicon.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">


        <meta property="og:url" content="https://przemekmiros.pl/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="/assets/img/opengraph.jpg">
        <meta property="og:site_name" content="Przemek Miros - Strony internetowe" />
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="przemekmiros.pl">
        <meta property="twitter:url" content="https://przemekmiros.pl/">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="/assets/img/opengraph.jpg">
        
        <style>
            .preloader {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100vh;
                background: var(--color-light-1);
                transition: all 0.2s ease-out;
                overflow: hidden;
                pointer-events: none;
                z-index: 10000000;
            }

            .preloader_inner {
                position: absolute;
                top: 48%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                z-index: 10000000;
            }

            .site-main {
                opacity: 0;
                transition: opacity 0.2s ease-out;
            }

            .circle-loader {
                position: relative;
                width: auto;
                height: auto;
            }

            .circle-loader div {
                height: 10px;
                width: 10px;
                background-color: var(--color-accent-1);
                border-radius: 50%;
                position: absolute;
                -webkit-animation: 0.8s opaque ease-in-out infinite both;
                animation: 0.8s opaque ease-in-out infinite both;
            }

            .circle-loader div:nth-child(1) {
                top: -25px;
                left: 0;
            }

            .circle-loader div:nth-child(2) {
                top: -17px;
                left: 17px;
                -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
            }

            .circle-loader div:nth-child(3) {
                top: 0;
                left: 25px;
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }

            .circle-loader div:nth-child(4) {
                top: 17px;
                left: 17px;
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }

            .circle-loader div:nth-child(5) {
                top: 25px;
                left: 0;
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }

            .circle-loader div:nth-child(6) {
                top: 17px;
                left: -17px;
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }

            .circle-loader div:nth-child(7) {
                top: 0;
                left: -23px;
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }

            .circle-loader div:nth-child(8) {
                top: -17px;
                left: -17px;
                -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
            }

            @keyframes opaque {
                0% {
                    opacity: 0.1;
                }

                40% {
                    opacity: 1;
                }

                80% {
                    opacity: 0.1;
                }

                100% {
                    opacity: 0.1;
                }
            }
        </style>
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
    </head>
    <body>
        <div class="preloader">
            <div class="preloader_inner">
                <div class="circle-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <header class="site-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-5 col-md-2">
                        <a href="/" class="logo" title="Logo">
                            <img src="/assets/img/logo/logo-light.png" width="160" height="40" alt="Przemek Miros Logo">
                        </a>
                    </div>
                    <div class="col-3 col-md-8">
                        <nav class="main-menu d-none d-md-block">
                            <ul>
                                <li>
                                    <a href="#realizacje" title="Realizacje">Realizacje</a>
                                </li>
                                <li>
                                    <a href="#klienci" title="Klienci">Klienci</a>
                                </li>
                                <li>
                                    <a href="#uslugi" title="Usługi">Usługi</a>
                                </li>
                                <li>
                                    <a href="#opinie" title="Opinie">Opinie</a>
                                </li>
                                <li>
                                    <a href="#kontakt" title="Kontakt">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-4 col-md-2 d-flex justify-content-end">
                        
                        <button class="d-md-none">
                           Menu
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="site-main">
            <script>
                var obj = document.querySelector('.preloader'),
                    page = document.querySelector('.site-main');
                window.addEventListener("load", function() {
                    obj.style.opacity = "0";
                    page.style.opacity = "1";
                });
            </script>
        <main id="swup" class="transition-fade">
