---
layout: layouts/front.njk
title: Strony internetowe
description: Pokaż się w internecie z najlepszej strony. Zdobądź piękną wysokowydajną stronę internetową która przekona więcej klientów niż strona Twojej konkurencji.
---

    
  <section class="interactive-header border-sm-0" itemscope itemtype="https://schema.org/WebPageElement">
    <div class="header-hero text-center px-4">
       <!-- <p class="accent-text" itemprop="description">Welcome to UI Forge</p> -->
       <p class="accent-text text-center mb-0 mt-3" itemprop="description">Strony internetowe</p>
        <h1 itemprop="headline">Dobre firmy <br/>mają dobre strony</h1>
        <div class="col-lg-12 mx-auto px-0 px-md-4 px-sm-5">
            <p class="mb-4 display-8 w-60 mx-auto" itemprop="description">
              Stworzę stronę internetową, która wyróżni Twoją markę i przyciągnie więcej klientów. Skoncentruj się na biznesie, a ja zajmę się Twoją obecnością online.
            </p>
            <div class="d-grid d-sm-flex justify-content-sm-center mb-0 mb-md-5">
                <a href="tel:+48788660190" title="Book call on my calendar" class="btn btn-primary btn-lg ps-4 pe-4 py-2 my-2 d-flex me-0 me-md-3 " itemprop="url">Darmowa konsultacja
                    <svg class="ms-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 18 18" style="width:18px;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#CFE2FF;}.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#c91717;}
                        </style>
                        <g>
                            <path class="st0" d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"/>
                            <path class="st1" d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
                            c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"/>
                        </g>
                    </svg>
                </a>
                <a href="#realizacje" title="Book call on my calendar" class="btn btn-secondary btn-lg ps-4 pe-4 py-2 my-2 d-flex" itemprop="url">Zobacz realizacje </a>
            </div>

            <div class="container-lg py-5 mb-5">
              <img src="assets/img/template/frame.jpg" class="w-100 rounded-10" alt="">
            </div>
            
        </div>
    </div>
</section>


<section class="clients position-relative d-none d-md-block" itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="UI Forge">
  <img class="logo-bridge" src="assets/img/portfolio/img-bridge.svg" alt="Bridge logo">
  <div class="logo-container">
      <div class="logos">
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Go3PL client logo" width="130" src="assets/img/portfolio/logo-business.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Jam Junction client logo" width="130" src="assets/img/portfolio/logo-c7med.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Jorney Jolt client logo" width="130" src="assets/img/portfolio/logo-chrome.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Skillsprint client logo" width="130" src="assets/img/portfolio/logo-ecotech.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Truckwise client logo" width="130" src="assets/img/portfolio/logo-smka.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Wellconnect client logo" width="130" src="assets/img/portfolio/logo-staltom.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="RCA Cloud client logo" width="130" src="assets/img/portfolio/logo-wako.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Alchemists client logo" width="130" src="assets/img/portfolio/logo-gaszyn.png">
          </div>
          <!-- Repeat the logos for smooth scrolling -->
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Go3PL client logo" width="130" src="assets/img/portfolio/logo-business.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Jam Junction client logo" width="130" src="assets/img/portfolio/logo-c7med.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Jorney Jolt client logo" width="130" src="assets/img/portfolio/logo-chrome.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Skillsprint client logo" width="130" src="assets/img/portfolio/logo-ecotech.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Truckwise client logo" width="130" src="assets/img/portfolio/logo-smka.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Wellconnect client logo" width="130" src="assets/img/portfolio/logo-staltom.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="RCA Cloud client logo" width="130" src="assets/img/portfolio/logo-wako.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Alchemists client logo" width="130" src="assets/img/portfolio/logo-gaszyn.png">
        </div>
          <!-- Repeat the logos for smooth scrolling -->
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Go3PL client logo" width="130" src="assets/img/portfolio/logo-business.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Jam Junction client logo" width="130" src="assets/img/portfolio/logo-c7med.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Jorney Jolt client logo" width="130" src="assets/img/portfolio/logo-chrome.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Skillsprint client logo" width="130" src="assets/img/portfolio/logo-ecotech.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Truckwise client logo" width="130" src="assets/img/portfolio/logo-smka.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Wellconnect client logo" width="130" src="assets/img/portfolio/logo-staltom.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="RCA Cloud client logo" width="130" src="assets/img/portfolio/logo-wako.png">
        </div>
        <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
            <img loading="lazy" itemprop="logo" alt="Alchemists client logo" width="130" src="assets/img/portfolio/logo-gaszyn.png">
        </div>
      </div>
  </div>
</section>


<section class="intro d-none d-md-block container-lg pb-2 pt-5 position-relative border-sm-0" itemscope itemtype="http://schema.org/Service" id="uslugi">
  <h2 class="text-center w-100 mb-2" itemprop="name">W czym mogę pomóc</h2>
  <p class="mb-5 display-8 text-center w-100" itemprop="description">W jakich dziedzinach jestem w stanie osiągnąć pożądane rezultaty</p>
  <div class="container-lg pt-4 pb-3">
      <div class="row row-cols-1 row-cols-lg-3 g-4">
          <div class="col animated" itemscope itemtype="http://schema.org/Service">
              <div class="card h-100 p-1">
                  <div class="card-img pt-3 px-2">
                    <object title="Product design animation" loading="lazy" data="assets/img/template/develop.png" type="image/svg+xml"></object>
                  </div>
                  <div class="card-body p-4 pt-3">
                      <h3 class="card-title pb-0 fw-normal h4" itemprop="name">Strony internetowe</h3>
                      <p class="card-text" itemprop="description">Zyskaj przewagę konkurencyjną w sieci</p>
                  </div>
              </div>
          </div>
          <div class="col animated" itemscope itemtype="http://schema.org/Service">
            <div class="card h-100 p-1">
                <div class="card-img pt-3 px-2">
                  <object title="Web design animation" loading="lazy" data="assets/img/template/position.png" type="image/svg+xml"></object>
                </div>
                <div class="card-body p-4 pt-3">
                  <h3 class="card-title pb-0 fw-normal h4" itemprop="name">Pozycjonowanie w Google</h3>
                  <p class="card-text" itemprop="description">Zwiększaj widoczność w wyszukiwarce</p>
                </div>
            </div>
        </div>
        <div class="col animated" itemscope itemtype="http://schema.org/Service">
          <div class="card h-100 p-1">
              <div class="card-img pt-3 px-2">
                <object title="Branding animation" loading="lazy" data="assets/img/template/design.png" type="image/svg+xml"></object>
              </div>
              <div class="card-body p-4 pt-3">
                <h3 class="card-title pb-0 fw-normal h4" itemprop="name">Projektowanie graficzne</h3>
                <p class="card-text" itemprop="description">Pokaż się z najlepszej strony www</p>
              </div>
          </div>
      </div>
      </div>
  </div>
</section>


<section class="why-us container-lg" itemscope itemtype="http://schema.org/Service">
  <meta itemprop="name" content="UI Forge Design Services">
  <div class="container-lg pt-2 pt-xs-5 animated">
      <div class="row row-cols-1 row-cols-lg-3">
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <object title="Layer" class="mb-2" width="36" data="assets/img/template/ic-user.svg" type="image/svg+xml"></object>
              <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Bezpośredni kontakt</h3>
              <p class="card-text text-white muted-50" itemprop="description">Rozmawiasz bezpośrebnio <br/>z wykonawcą Twojej strony </p>
          </div>
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <object title="Lighting" class="mb-2" width="36" data="assets/img/template/ic-lighting.svg" type="image/svg+xml"></object>
              <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Dostępność czasowa</h3>
              <p class="card-text text-white muted-50" itemprop="description">Jeżeli masz poważny problem <br class="d-md-block d-none">możesz zadzwonić o 3 w nocy</p>
          </div>
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <object title="User" class="mb-2" width="36" data="assets/img/template/ic-layers.svg" type="image/svg+xml"></object>
              <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Rozpoznanie branży</h3>
              <p class="card-text text-white muted-50" itemprop="description">Przed rozpoczęciem pracy dokładnie <br class="d-md-block d-none">analizuje Twoją branżę </p>
          </div>
      </div>
  </div>
  <div class="container-lg pb-2 pb-xs-5 animated">
      <div class="row row-cols-1 row-cols-lg-3 pb-5">
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <object title="Design" class="mb-2" width="36" data="assets/img/template/ic-design.svg" type="image/svg+xml"></object>
              <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Bezpłatny audyt</h3>
              <p class="card-text text-white muted-50" itemprop="description">Wykonam w pełni darmową, analize <br class="d-md-block d-none">Twojej strony lub sklepu </p>
          </div>
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <object title="Cost" class="mb-2" width="36" data="assets/img/template/ic-strategy.svg" type="image/svg+xml"></object>
              <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Widoczne rezultaty</h3>
              <p class="card-text text-white muted-50" itemprop="description">Wykonam w pełni darmową, analize <br class="d-md-block d-none">Twojej strony lub sklepu </p>
          </div>
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <object title="Strategy" class="mb-2" width="36" data="assets/img/template/ic-cost.svg" type="image/svg+xml"></object>
              <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Transparentość działań</h3>
              <p class="card-text text-white muted-50" itemprop="description">Wykonam w pełni darmową, analize <br class="d-md-block d-none">Twojej strony lub sklepu </p>
          </div>
      </div>
  </div>
</section>


<section id="realizacje" class="latest-projects position-relative" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="container-lg pb-3 pt-5 py-5  w-60">
    <p class="accent-text text-center mb-0" itemprop="description">Zobacz</p>
    <h2 class="text-center w-100 mb-5" itemprop="headline">Wybrane realizacje</h2>
    <div class="container pb-2">



      <div class="row row-cols-1 row-cols-lg-2 g-4 mb-5 mt-5 py-3 card-style align-items-stretch card-animation">
        <!-- Image Column -->
        <div class="col mt-0" itemscope="" itemtype="http://schema.org/Service">
          <div class="h-100 rounded-corners-20">
            <img src="assets/img/portfolio/moc-business.jpg" class="w-100 rounded-10" alt="Tech app">
          </div>
        </div>
      
        <!-- Text Column -->
        <div class="col mt-0 d-flex p-3 flex-column" itemscope="" itemtype="http://schema.org/Service">
          <div class="flex-grow-1">
            <h3 class="card-title h4">Portal kobiet biznesu</h3>
          </div>
          <!-- KEY FEATURES at the bottom -->
          <div class="mt-auto">
            <p class="mb-1 muted-50 display-10">ELEMENTY:</p>
            <ul class="ps-0 mb-0">
              <li class="badge badge-pill mb-1" itemprop="serviceType">Projekt</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Kodowanie</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Optymalizacja</li>
            </ul>
          </div>
        </div>
      </div>
      

      <div class="row row-cols-1 mb-5 mt-5 row-cols-lg-2 g-4 py-3 card-style align-items-stretch card-animation">
        <!-- Text Column -->
        <div class="col mt-0 d-flex p-4 ps-4 flex-column" itemscope="" itemtype="http://schema.org/Service">
          <div class="flex-grow-1">
            <h3 class="card-title h4">Gabinety stomatologiczne </h3>
          </div>
          <!-- KEY FEATURES at the bottom -->
          <div class="mt-auto">
            <p class="mb-1 muted-50 display-10">ELEMENTY:</p>
            <ul class="ps-0 mb-0">
              <li class="badge badge-pill mb-1" itemprop="serviceType">Projekt</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Kodowanie</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Optymalizacja</li>
            </ul>
          </div>
        </div>

        <!-- Image Column -->
        <div class="col mt-0" itemscope="" itemtype="http://schema.org/Service">
          <div class="h-100 rounded-corners-20">
            <img src="assets/img/portfolio/moc-cse.jpg" class="w-100 rounded-10" alt="Tech app">
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-lg-2 g-4 mb-5 mt-5 py-3 card-style align-items-stretch card-animation">
        <!-- Image Column -->
        <div class="col mt-0" itemscope="" itemtype="http://schema.org/Service">
          <div class="h-100 rounded-corners-20">
            <img src="assets/img/portfolio/moc-nails.jpg" class="w-100 rounded-10" alt="Tech app">
          </div>
        </div>
      
        <!-- Text Column -->
        <div class="col mt-0 d-flex p-3 flex-column" itemscope="" itemtype="http://schema.org/Service">
          <div class="flex-grow-1">
            <h3 class="card-title h4">Zaawansowane techniki Nail Art</h3>
          </div>
          <!-- KEY FEATURES at the bottom -->
          <div class="mt-auto">
            <p class="mb-1 muted-50 display-10">ELEMENTY:</p>
            <ul class="ps-0 mb-0">
              <li class="badge badge-pill mb-1" itemprop="serviceType">Projekt</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Kodowanie</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Optymalizacja</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 mb-5 mt-5 row-cols-lg-2 g-4 py-3 card-style align-items-stretch card-animation">
        <!-- Text Column -->
        <div class="col mt-0 d-flex p-4 ps-4 flex-column" itemscope="" itemtype="http://schema.org/Service">
          <div class="flex-grow-1">
            <h3 class="card-title h4">Wypożyczalnia namiotów</h3>
          </div>
          <!-- KEY FEATURES at the bottom -->
          <div class="mt-auto">
            <p class="mb-1 muted-50 display-10">ELEMENTY:</p>
            <ul class="ps-0 mb-0">
              <li class="badge badge-pill mb-1" itemprop="serviceType">Projekt</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Kodowanie</li>
              <li class="badge badge-pill mb-1" itemprop="serviceType">Optymalizacja</li>
            </ul>
          </div>
        </div>

        <!-- Image Column -->
        <div class="col mt-0" itemscope="" itemtype="http://schema.org/Service">
          <div class="h-100 rounded-corners-20">
            <img src="assets/img/portfolio/moc-namioty.jpg" class="w-100 rounded-10" alt="Tech app">
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


<section class="tools-section" itemscope itemtype="https://schema.org/ItemList">
  <div class="container tools-container">
    <h3 class="accent-text text-white text-center mb-0" itemprop="name">Narzędzia których używam</h3>
    <meta itemprop="itemListOrder" content="Unordered">
    <meta itemprop="numberOfItems" content="14">

    <!-- Tool 1: Bootstrap -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-bootstrap.svg" alt="Bootstrap logo" itemprop="image">
      <span itemprop="name">Bootstrap</span>
      <meta itemprop="operatingSystem" content="All">
      <meta itemprop="applicationCategory" content="Web development tool">
    </div>

    <!-- Tool 2: Figma -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-figma.svg" alt="Figma logo" itemprop="image">
      <span itemprop="name">Figma</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Design tool">
    </div>

    <!-- Tool 3: Illustrator -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-illustrator.svg" alt="Illustrator logo" itemprop="image">
      <span itemprop="name">Illustrator</span>
      <meta itemprop="operatingSystem" content="Windows, macOS">
      <meta itemprop="applicationCategory" content="Design tool">
    </div>

    <!-- Tool 4: VS Code -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-vs.svg" alt="VS Code logo" itemprop="image">
      <span itemprop="name">VS Code</span>
      <meta itemprop="operatingSystem" content="Windows, macOS, Linux">
      <meta itemprop="applicationCategory" content="Development tool">
    </div>

    <!-- Tool 5: Office -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-office.svg" alt="Office logo" itemprop="image">
      <span itemprop="name">Office</span>
      <meta itemprop="operatingSystem" content="Windows, macOS">
      <meta itemprop="applicationCategory" content="Productivity tool">
    </div>

    <!-- Tool 6: Trello -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-trello.svg" alt="Trello logo" itemprop="image">
      <span itemprop="name">Trello</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Project management tool">
    </div>

    <!-- Tool 7: Webflow -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-webflow.svg" alt="Webflow logo" itemprop="image">
      <span itemprop="name">Webflow</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Web design tool">
    </div>

    <!-- Tool 8: Photoshop -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-ps.svg" alt="Photoshop logo" itemprop="image">
      <span itemprop="name">Photoshop</span>
      <meta itemprop="operatingSystem" content="Windows, macOS">
      <meta itemprop="applicationCategory" content="Design tool">
    </div>

    <!-- Tool 9: Adobe XD -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-xd.svg" alt="Adobe XD logo" itemprop="image">
      <span itemprop="name">Adobe XD</span>
      <meta itemprop="operatingSystem" content="Windows, macOS">
      <meta itemprop="applicationCategory" content="UI/UX design tool">
    </div>

    <!-- Tool 10: Notion -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-notion.svg" alt="Notion logo" itemprop="image">
      <span itemprop="name">Notion</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Productivity tool">
    </div>

    <!-- Tool 11: SVGAator -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-svgator.svg" alt="SVGAator logo" itemprop="image">
      <span itemprop="name">SVGAator</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Animation tool">
    </div>

    <!-- Tool 12: Slack -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-slack.svg" alt="Slack logo" itemprop="image">
      <span itemprop="name">Slack</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Communication tool">
    </div>

    <!-- Tool 13: ChatGPT -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-gpt.svg" alt="ChatGPT logo" itemprop="image">
      <span itemprop="name">ChatGPT</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="AI tool">
    </div>

    <!-- Tool 14: GitHub -->
    <div class="tool-item d-flex gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
      <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-git.svg" alt="GitHub logo" itemprop="image">
      <span itemprop="name">GitHub</span>
      <meta itemprop="operatingSystem" content="Web-based">
      <meta itemprop="applicationCategory" content="Version control tool">
    </div>
  </div>
</section>



<section id="opinie" class="clients-testimonials pb-5 pt-5 py-5">
  <p class="accent-text text-center mb-0" itemprop="description">Sprawdź</p>
  <h2 class="text-center w-100 mb-2">Opinie moich klientów</h2>
  <p class="mb-5 display-8 text-center w-100">Zobacz jak moi klienci oceniają współpracę</p>
  <div class="container mt-3">
    <div class="row g-3">

        <!-- Review 1 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Sprawnie, szybko i tak jak chciałem a do tego strona zbudowana zgodnie z aktualnymi trendami :)"
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-truck.png" width="50" height="50" class="rounded-circle" alt="Jeremy Smith photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Artur Kamiński</h3>
              <p class="mb-0">C7Med</p>
            </div>
          </div>
        </div>

        <!-- Review 2 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Ambitny człowiek co przekłada się na jakość oferowanych usług. Jesteśmy bardzo zadowoleni z naszej strony www."
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-damian.png" width="50" height="50" class="rounded-circle" alt="Tiffany Taylor photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Damian P</h3>
              <p class="mb-0">Alfabet Numerologiczny</p>
            </div>
          </div>
        </div>

        <!-- Review 3 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Szczerze polecam Usługi Pana Przemysława. Profesjonalne podejście i kontakt sprawiły, że zostanę jako Klient na długo."
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-max.png" width="50" height="50" class="rounded-circle" alt="Michelle photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Maksymilian Wesołowski</h3>
              <p class="mb-0">Agencja Cosmos</p>
            </div>
          </div>
        </div>

        <!-- Review 4 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Polecam z całego serca - idealna współpraca, wszystko wykonane na najwyższym poziomie!"
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-adrian.png" width="50" height="50" class="rounded-circle" alt="Maria photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Adrian Dudek</h3>
              <p class="mb-0">Triland</p>
            </div>
          </div>
        </div>

        <!-- Review 5 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Współpraca na najwyższym poziomie. Szybka realizacja w oparciu o najnowsze trendy, kreatywność, dostępność i doradztwo. Jestem bardzo zadowolona."
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-marta.png" width="50" height="50" class="rounded-circle" alt="Paul photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Marta Tomaszewska</h3>
              <p class="mb-0">Nail Design</p>
            </div>
          </div>
        </div>

        <!-- Review 6 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Polecam! Strona wykonana dokładnie tak jak chciałam + kilka fajnych pomysłów ze strony Pana Przemka. Jestem bardzo zadowolona :)"
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-ewa-chmiel.png" width="50" height="50" class="rounded-circle" alt="Lisa Wong photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Ewa Chmieleska</h3>
              <p class="mb-0">Victoria Grochów</p>
            </div>
          </div>
        </div>

        <!-- Review 7 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Najlepszy z jakim kiedykolwiek współpracowałem, polecam"
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-tomasz.png" width="50" height="50" class="rounded-circle" alt="Svetlana photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Tomasz Polak</h3>
              <p class="mb-0">Eco Tech Group Sp. z o. o.</p>
            </div>
          </div>
        </div>

        <!-- Review 8 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Pełen profesjonalizm, doskonały kontakt !"
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-adam.png" width="50" height="50" class="rounded-circle" alt="Petar Spaseski photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Adam Sałek</h3>
              <p class="mb-0">Lubelski Dom Finansowy</p>
            </div>
          </div>
        </div>

        <!-- Review 9 -->
        <div class="col-md-4 col-lg-6 card p-4 animated">
          <p class="maintxt">
            "Mega profesjonalizm. Cała realizacja na czas. Efekt końcowy strony zachwycający!"
          </p>
          <hr>
          <div class="d-flex profile">
            <img loading="lazy" src="assets/img/template/cl-szymon.png" width="50" height="50" class="rounded-circle" alt="Mark Johnson photo"> 
            <div class="px-3">
              <h3 class="fw-normal mb-0 h5">Szymon Kobylnik</h3>
              <p class="mb-0">Hotel Moment</p>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>


<section class="more-designs position-relative pt-5 d-none d-md-block">
  <h2 class="text-center p-4 text-white accent-text mb-0" itemprop="headline">Inne strony które wykonałem</h2>
   
  <div class="portfolio-slider" itemscope itemtype="http://schema.org/ItemList">
    <meta itemprop="name" content="Other projects we've done">
    <meta itemprop="description" content="Explore our successful projects and see the impactful results we've delivered for our clients.">
    <div class="slider-container">
      <!-- Individual items should have itemListElement wrapping -->
      <div class="slider">
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Beautique design app" width="400" src="assets/img/portfolio/par-1.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img  loading="lazy"alt="Showcase for Booking design app" width="400" src="assets/img/portfolio/par-2.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Couforge design app" width="400" src="assets/img/portfolio/par-3.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Dashboard design app" width="400" src="assets/img/portfolio/par-4.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Fanflick design app" width="400" src="assets/img/portfolio/par-5.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Fitout design app" width="400" src="assets/img/portfolio/par-6.jpg" itemprop="image">
        </div>
        <!-- Repeat the images for smooth infinite scroll -->
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Beautique design app" width="400" src="assets/img/portfolio/par-1.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img  loading="lazy"alt="Showcase for Booking design app" width="400" src="assets/img/portfolio/par-2.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Couforge design app" width="400" src="assets/img/portfolio/par-3.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Dashboard design app" width="400" src="assets/img/portfolio/par-4.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Fanflick design app" width="400" src="assets/img/portfolio/par-5.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Fitout design app" width="400" src="assets/img/portfolio/par-6.jpg" itemprop="image">
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-slider reverse" itemscope itemtype="http://schema.org/ItemList">
    <meta itemprop="name" content="Other projects we've done">
    <meta itemprop="description" content="Explore our successful projects and see the impactful results we've delivered for our clients.">
    <div class="slider-container">
      <!-- Individual items should have itemListElement wrapping -->
      <div class="slider">
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Hotel app design" width="400" src="assets/img/portfolio/par-7.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Investify design app" width="400" src="assets/img/portfolio/par-8.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Jamjunction design app" width="400" src="assets/img/portfolio/par-9.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Beautique design app" width="400" src="assets/img/portfolio/par-10.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img  loading="lazy"alt="Showcase for Booking design app" width="400" src="assets/img/portfolio/par-11.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Nanny design app" width="400" src="assets/img/portfolio/par-12.jpg" itemprop="image">
        </div>
        <!-- Repeat the images for smooth infinite scroll -->
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img  loading="lazy"alt="Showcase for Booking design app" width="400" src="assets/img/portfolio/par-6.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Nanny design app" width="400" src="assets/img/portfolio/par-7.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Rcacloud design app" width="400" src="assets/img/portfolio/par-8.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Skillsprint design app" width="400" src="assets/img/portfolio/par-9.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Sport app design" width="400" src="assets/img/portfolio/par-10.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Tech design app" width="400" src="assets/img/portfolio/par-11.jpg" itemprop="image">
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
          <img loading="lazy" alt="Showcase for Truck Wise design app" width="400" src="assets/img/portfolio/par-12.jpg" itemprop="image">
        </div>
      </div>
    </div>
  </div>
</section>

