<section class="pt-xlarge pb-xlarge">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="opinion-card">
                    
                </div>
            </div>
        </div>
    </div>
</section>