<section class="clients position-relative" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Przemek Miros - Strony internetowe">
    <img class="logo-bridge" src="assets/img/portfolio/img-bridge.svg" alt="Bridge logo">
    <div class="logo-container">
        <div class="logos">
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Business WOman Life klient logo" height="55" width="130" src="assets/img/portfolio/logo-business.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="C7Med klient logo" height="55" width="130" src="assets/img/portfolio/logo-c7med.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Go Chrome klient logo" height="55" width="130" src="assets/img/portfolio/logo-chrome.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Eco Tech Group klient logo" height="55" width="130" src="assets/img/portfolio/logo-ecotech.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="SMKA klient logo" height="55" width="130" src="assets/img/portfolio/logo-smka.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Staltom klient logo" height="55" width="130" src="assets/img/portfolio/logo-staltom.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Wako Energy klient logo" height="55" width="130" src="assets/img/portfolio/logo-wako.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Gaszyn Park klient logo" height="55" width="130" src="assets/img/portfolio/logo-gaszyn.png">
            </div>
            <!-- Repeat the logos for smooth scrolling -->
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Business WOman Life klient logo" height="55" width="130" src="assets/img/portfolio/logo-business.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="C7Med klient logo" height="55" width="130" src="assets/img/portfolio/logo-c7med.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Go Chrome klient logo" height="55" width="130" src="assets/img/portfolio/logo-chrome.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Eco Tech Group klient logo" height="55" width="130" src="assets/img/portfolio/logo-ecotech.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="SMKA klient logo" height="55" width="130" src="assets/img/portfolio/logo-smka.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Staltom klient logo" height="55" width="130" src="assets/img/portfolio/logo-staltom.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Wako Energy klient logo" height="55" width="130" src="assets/img/portfolio/logo-wako.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Gaszyn Park klient logo" height="55" width="130" src="assets/img/portfolio/logo-gaszyn.png">
            </div>
            <!-- Repeat the logos for smooth scrolling -->
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Business WOman Life klient logo" height="55" width="130" src="assets/img/portfolio/logo-business.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="C7Med klient logo" height="55" width="130" src="assets/img/portfolio/logo-c7med.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Go Chrome klient logo" height="55" width="130" src="assets/img/portfolio/logo-chrome.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Eco Tech Group klient logo" height="55" width="130" src="assets/img/portfolio/logo-ecotech.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="SMKA klient logo" height="55" width="130" src="assets/img/portfolio/logo-smka.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Staltom klient logo" height="55" width="130" src="assets/img/portfolio/logo-staltom.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Wako Energy klient logo" height="55" width="130" src="assets/img/portfolio/logo-wako.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Gaszyn Park klient logo" height="55" width="130" src="assets/img/portfolio/logo-gaszyn.png">
            </div>
        </div>
    </div>
  </section>