<section class="clients position-relative" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="UI Forge">
    <img class="logo-bridge" src="assets/img/portfolio/img-bridge.svg" alt="Bridge logo">
    <div class="logo-container">
        <div class="logos">
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Go3PL client logo" width="130" src="assets/img/portfolio/logo-business.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Jam Junction client logo" width="130" src="assets/img/portfolio/logo-c7med.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Jorney Jolt client logo" width="130" src="assets/img/portfolio/logo-chrome.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Skillsprint client logo" width="130" src="assets/img/portfolio/logo-ecotech.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Truckwise client logo" width="130" src="assets/img/portfolio/logo-smka.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Wellconnect client logo" width="130" src="assets/img/portfolio/logo-staltom.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="RCA Cloud client logo" width="130" src="assets/img/portfolio/logo-wako.png">
            </div>
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
                <img loading="lazy" itemprop="logo" alt="Alchemists client logo" width="130" src="assets/img/portfolio/logo-gaszyn.png">
            </div>
            <!-- Repeat the logos for smooth scrolling -->
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Go3PL client logo" width="130" src="assets/img/portfolio/logo-business.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Jam Junction client logo" width="130" src="assets/img/portfolio/logo-c7med.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Jorney Jolt client logo" width="130" src="assets/img/portfolio/logo-chrome.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Skillsprint client logo" width="130" src="assets/img/portfolio/logo-ecotech.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Truckwise client logo" width="130" src="assets/img/portfolio/logo-smka.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Wellconnect client logo" width="130" src="assets/img/portfolio/logo-staltom.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="RCA Cloud client logo" width="130" src="assets/img/portfolio/logo-wako.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Alchemists client logo" width="130" src="assets/img/portfolio/logo-gaszyn.png">
          </div>
            <!-- Repeat the logos for smooth scrolling -->
            <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Go3PL client logo" width="130" src="assets/img/portfolio/logo-business.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Jam Junction client logo" width="130" src="assets/img/portfolio/logo-c7med.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Jorney Jolt client logo" width="130" src="assets/img/portfolio/logo-chrome.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Skillsprint client logo" width="130" src="assets/img/portfolio/logo-ecotech.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Truckwise client logo" width="130" src="assets/img/portfolio/logo-smka.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Wellconnect client logo" width="130" src="assets/img/portfolio/logo-staltom.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="RCA Cloud client logo" width="130" src="assets/img/portfolio/logo-wako.png">
          </div>
          <div itemprop="department" itemscope itemtype="http://schema.org/Organization">
              <img loading="lazy" itemprop="logo" alt="Alchemists client logo" width="130" src="assets/img/portfolio/logo-gaszyn.png">
          </div>
        </div>
    </div>
  </section>