<section class="interactive-header border-sm-0" itemscope itemtype="https://schema.org/WebPageElement">
    <div class="header-hero text-center px-4">
       <!-- <p class="accent-text" itemprop="description">Welcome to UI Forge</p> -->
       <p class="accent-text text-center mb-0 mt-3" itemprop="description">Strony internetowe</p>
        <h1 itemprop="headline">Dobre firmy <br/>mają dobre strony</h1>
        <div class="col-lg-12 mx-auto px-0 px-md-4 px-sm-5">
            <p class="mb-4 display-8 w-60 mx-auto" itemprop="description">
              Stworzę stronę internetową, która wyróżni Twoją markę i przyciągnie więcej klientów. Skoncentruj się na biznesie, a ja zajmę się Twoją obecnością online.
            </p>
            <div class="d-grid d-sm-flex justify-content-sm-center mb-0 mb-md-5">
                <a href="#kontakt" title="Skontaktuj się" class="btn btn-primary btn-lg ps-4 pe-4 py-2 my-2 d-flex me-0 me-md-3 " itemprop="url">Skontaktuj się
                    <svg class="ms-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 18 18" style="width:18px;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#fff;}.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#c91717;}
                        </style>
                        <g>
                            <path class="st0" d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"/>
                            <path class="st1" d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
                            c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"/>
                        </g>
                    </svg>
                </a>
                <a href="#realizacje" title="Zobacz realizacje" class="btn btn-secondary btn-lg ps-4 pe-4 py-2 my-2 d-flex" itemprop="url">Zobacz realizacje </a>
            </div>

            <div class="container-lg mt-5 mb-5">
              <img src="assets/img/frame.webp" class="w-100 rounded-10 d-none d-md-block" alt="">
              <img src="assets/img/frame-mobile.webp" class="w-100 rounded-10 d-md-none" alt="">
            </div>
            
        </div>
    </div>
</section>