<section class="more-designs position-relative pt-5 d-none d-md-block">
    <h2 class="text-center p-4 text-white accent-text mb-0" itemprop="headline">Inne strony które wykonałem</h2>
     
    <div class="portfolio-slider" itemscope itemtype="http://schema.org/ItemList">
      <meta itemprop="name" content="Other projects we've done">
      <meta itemprop="description" content="Explore our successful projects and see the impactful results we've delivered for our clients.">
      <div class="slider-container">
        <!-- Individual items should have itemListElement wrapping -->
        <div class="slider">
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Beautique design app" width="365" height="221" src="assets/img/portfolio/par-1.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img  loading="lazy"alt="Showcase for Booking design app" width="365" height="221" src="assets/img/portfolio/par-2.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Couforge design app" width="365" height="221" src="assets/img/portfolio/par-3.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Dashboard design app" width="365" height="221" src="assets/img/portfolio/par-4.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Fanflick design app" width="365" height="221" src="assets/img/portfolio/par-5.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Fitout design app" width="365" height="221" src="assets/img/portfolio/par-6.jpg" itemprop="image">
          </div>
          <!-- Repeat the images for smooth infinite scroll -->
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Beautique design app" width="365" height="221" src="assets/img/portfolio/par-1.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img  loading="lazy"alt="Showcase for Booking design app" width="365" height="221" src="assets/img/portfolio/par-2.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Couforge design app" width="365" height="221" src="assets/img/portfolio/par-3.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Dashboard design app" width="365" height="221" src="assets/img/portfolio/par-4.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Fanflick design app" width="365" height="221" src="assets/img/portfolio/par-5.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Fitout design app" width="365" height="221" src="assets/img/portfolio/par-6.jpg" itemprop="image">
          </div>
        </div>
      </div>
    </div>
  
    <div class="portfolio-slider reverse" itemscope itemtype="http://schema.org/ItemList">
      <meta itemprop="name" content="Other projects we've done">
      <meta itemprop="description" content="Explore our successful projects and see the impactful results we've delivered for our clients.">
      <div class="slider-container">
        <!-- Individual items should have itemListElement wrapping -->
        <div class="slider">
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Hotel app design" width="365" height="221" src="assets/img/portfolio/par-7.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Investify design app" width="365" height="221" src="assets/img/portfolio/par-8.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Jamjunction design app" width="365" height="221" src="assets/img/portfolio/par-9.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Beautique design app" width="365" height="221" src="assets/img/portfolio/par-10.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img  loading="lazy"alt="Showcase for Booking design app" width="365" height="221" src="assets/img/portfolio/par-11.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Nanny design app" width="365" height="221" src="assets/img/portfolio/par-12.jpg" itemprop="image">
          </div>
          <!-- Repeat the images for smooth infinite scroll -->
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img  loading="lazy"alt="Showcase for Booking design app" width="365" height="221" src="assets/img/portfolio/par-6.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Nanny design app" width="365" height="221" src="assets/img/portfolio/par-7.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Rcacloud design app" width="365" height="221" src="assets/img/portfolio/par-8.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Skillsprint design app" width="365" height="221" src="assets/img/portfolio/par-9.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Sport app design" width="365" height="221" src="assets/img/portfolio/par-10.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Tech design app" width="365" height="221" src="assets/img/portfolio/par-11.jpg" itemprop="image">
          </div>
          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/CreativeWork">
            <img loading="lazy" alt="Showcase for Truck Wise design app" width="365" height="221" src="assets/img/portfolio/par-12.jpg" itemprop="image">
          </div>
        </div>
      </div>
    </div>
  </section>