<section class="pt-medium pb-large bg-dark-1 radius-lg h-100vh" id="opinie">
    <div class="container">
        <h2 class="color-light-1 mt-0 mb-5">
            Opinie klientów
        </h2>
        <div class="row">
            <div class="col-md-4">
                <div class="opinion-card">
                    
                </div>
            </div>
        </div>
    </div>
</section>