<section class="intro container-lg pb-5 pb-md-2 pt-5 position-relative border-sm-0" itemscope itemtype="http://schema.org/Service" id="uslugi">
    <h2 class="text-center w-100 mb-2" itemprop="name">W czym mogę pomóc</h2>
    <p class="mb-3 mb-md-5 display-8 text-center w-100" itemprop="description">W jakich dziedzinach jestem w stanie osiągnąć pożądane rezultaty</p>
    <div class="container-lg pt-4 pb-3">
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col animated" itemscope itemtype="http://schema.org/Service">
                <div class="card h-100 p-1">
                    <div class="card-img pt-3 px-2">
                      <img title="Strony internetowe" width="382" height="204" class="w-100 h-auto" loading="lazy" src="/assets/img/template/develop.webp">
                    </div>
                    <div class="card-body p-4 pt-3">
                        <h3 class="card-title pb-0 fw-normal h4" itemprop="name">Strony internetowe</h3>
                        <p class="card-text" itemprop="description">Zyskaj przewagę konkurencyjną w sieci</p>
                    </div>
                </div>
            </div>
            <div class="col animated" itemscope itemtype="http://schema.org/Service">
              <div class="card h-100 p-1">
                  <div class="card-img pt-3 px-2">
                    <img title="Pozycjonowanie w Google" width="382" height="204" class="w-100 h-auto" loading="lazy" src="/assets/img/template/position.webp">
                  </div>
                  <div class="card-body p-4 pt-3">
                    <h3 class="card-title pb-0 fw-normal h4" itemprop="name">Pozycjonowanie w Google</h3>
                    <p class="card-text" itemprop="description">Zwiększaj widoczność w wyszukiwarce</p>
                  </div>
              </div>
          </div>
          <div class="col animated" itemscope itemtype="http://schema.org/Service">
            <div class="card h-100 p-1">
                <div class="card-img pt-3 px-2">
                  <img title="Projektowanie graficzne" width="382" height="204" class="w-100 h-auto" loading="lazy" src="/assets/img/template/design.webp">
                </div>
                <div class="card-body p-4 pt-3">
                  <h3 class="card-title pb-0 fw-normal h4" itemprop="name">Projektowanie graficzne</h3>
                  <p class="card-text" itemprop="description">Pokaż się z najlepszej strony www</p>
                </div>
            </div>
        </div>
        </div>
    </div>
  </section>