<section class="mt-7 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-card">
                    <div>
                        <img src="/assets/img/service-2.webp" alt="">
                    </div>
                    <div>
                        <h2>
                            Seamless Connectivity
                        </h2>
                        <p>
                            Elementum curabitur lorem morbi mass risus egestas eget tellus duis. Pharetra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card">
                    <div>
                        <img src="/assets/img/service-3.webp" alt="">
                    </div>
                    <div>
                        <h2>
                            Seamless Connectivity
                        </h2>
                        <p>
                            Elementum curabitur lorem morbi mass risus egestas eget tellus duis. Pharetra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card">
                    <div>
                        <img src="/assets/img/service-4.webp" alt="">
                    </div>
                    <div>
                        <h2>
                            Seamless Connectivity
                        </h2>
                        <p>
                            Elementum curabitur lorem morbi mass risus egestas eget tellus duis. Pharetra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>