<section id="opinie" class="clients-testimonials pb-5 pt-5 py-5">
    <p class="accent-text text-center mb-0" itemprop="description">Sprawdź</p>
    <h2 class="text-center w-100 mb-2">Opinie moich klientów</h2>
    <p class="mb-5 display-8 text-center w-100">Zobacz jak moi klienci oceniają współpracę</p>
    <div class="container mt-3">
      <div class="row gy-0">
  
          <!-- Review 1 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Sprawnie, szybko i tak jak chciałem a do tego strona zbudowana zgodnie z aktualnymi trendami :)"
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-truck.png" width="50" height="50" class="rounded-circle" alt="Jeremy Smith photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Artur Kamiński</h3>
                <p class="mb-0">C7Med</p>
              </div>
            </div>
          </div>
  
          <!-- Review 2 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Ambitny człowiek co przekłada się na jakość oferowanych usług. Jesteśmy bardzo zadowoleni z naszej strony www."
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-damian.png" width="50" height="50" class="rounded-circle" alt="Tiffany Taylor photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Damian P</h3>
                <p class="mb-0">Alfabet Numerologiczny</p>
              </div>
            </div>
          </div>
  
          <!-- Review 3 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Szczerze polecam Usługi Pana Przemysława. Profesjonalne podejście i kontakt sprawiły, że zostanę jako Klient na długo."
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-max.png" width="50" height="50" class="rounded-circle" alt="Michelle photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Maksymilian Wesołowski</h3>
                <p class="mb-0">Agencja Cosmos</p>
              </div>
            </div>
          </div>
  
          <!-- Review 4 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Polecam z całego serca - idealna współpraca, wszystko wykonane na najwyższym poziomie!"
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-adrian.png" width="50" height="50" class="rounded-circle" alt="Maria photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Adrian Dudek</h3>
                <p class="mb-0">Triland</p>
              </div>
            </div>
          </div>
  
          <!-- Review 5 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Współpraca na najwyższym poziomie. Szybka realizacja w oparciu o najnowsze trendy, kreatywność, dostępność i doradztwo. Jestem bardzo zadowolona."
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-marta.png" width="50" height="50" class="rounded-circle" alt="Paul photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Marta Tomaszewska</h3>
                <p class="mb-0">Nail Design</p>
              </div>
            </div>
          </div>
  
          <!-- Review 6 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Polecam! Strona wykonana dokładnie tak jak chciałam + kilka fajnych pomysłów ze strony Pana Przemka. Jestem bardzo zadowolona :)"
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-ewa-chmiel.png" width="50" height="50" class="rounded-circle" alt="Lisa Wong photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Ewa Chmieleska</h3>
                <p class="mb-0">Victoria Grochów</p>
              </div>
            </div>
          </div>
  
          <!-- Review 7 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Najlepszy z jakim kiedykolwiek współpracowałem, polecam"
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-tomasz.png" width="50" height="50" class="rounded-circle" alt="Svetlana photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Tomasz Polak</h3>
                <p class="mb-0">Eco Tech Group Sp. z o. o.</p>
              </div>
            </div>
          </div>
  
          <!-- Review 8 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Pełen profesjonalizm, doskonały kontakt !"
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-adam.png" width="50" height="50" class="rounded-circle" alt="Petar Spaseski photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Adam Sałek</h3>
                <p class="mb-0">Lubelski Dom Finansowy</p>
              </div>
            </div>
          </div>
  
          <!-- Review 9 -->
          <div class="col-md-4 col-lg-6 card p-4 animated">
            <p class="maintxt">
              "Mega profesjonalizm. Cała realizacja na czas. Efekt końcowy strony zachwycający!"
            </p>
            <hr>
            <div class="d-flex profile">
              <img loading="lazy" src="assets/img/template/cl-szymon.png" width="50" height="50" class="rounded-circle" alt="Mark Johnson photo"> 
              <div class="px-3">
                <h3 class="fw-normal mb-0 h5">Szymon Kobylnik</h3>
                <p class="mb-0">Hotel Moment</p>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  </section>