<section class="tools-section" itemscope itemtype="https://schema.org/ItemList">
    <div class="container tools-container">
      <h3 class="accent-text text-white text-center mb-0" itemprop="name">Narzędzia których używam</h3>
      <meta itemprop="itemListOrder" content="Unordered">
      <meta itemprop="numberOfItems" content="14">
  
      <!-- Tool 1: Bootstrap -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-bootstrap.svg" alt="Bootstrap logo" itemprop="image">
        <span itemprop="name">Bootstrap</span>
        <meta itemprop="operatingSystem" content="All">
        <meta itemprop="applicationCategory" content="Web development tool">
      </div>
  
      <!-- Tool 2: Figma -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-figma.svg" alt="Figma logo" itemprop="image">
        <span itemprop="name">Figma</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Design tool">
      </div>
  
      <!-- Tool 3: GSAP -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="18" height="18" src="assets/img/template/ic-gsap.jpg" alt="GSAP logo" itemprop="image">
        <span itemprop="name">GSAP</span>
        <meta itemprop="operatingSystem" content="Windows, macOS">
        <meta itemprop="applicationCategory" content="Design tool">
      </div>
  
      <!-- Tool 4: VS Code -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-vs.svg" alt="VS Code logo" itemprop="image">
        <span itemprop="name">VS Code</span>
        <meta itemprop="operatingSystem" content="Windows, macOS, Linux">
        <meta itemprop="applicationCategory" content="Development tool">
      </div>
  
      <!-- Tool 5: Wordpress -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-wordpress.png" alt="Office logo" itemprop="image">
        <span itemprop="name">Wordpress</span>
        <meta itemprop="operatingSystem" content="Windows, macOS">
        <meta itemprop="applicationCategory" content="Productivity tool">
      </div>
  
      <!-- Tool 6: Trello -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-trello.svg" alt="Trello logo" itemprop="image">
        <span itemprop="name">Trello</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Project management tool">
      </div>
  
      <!-- Tool 7: Webflow -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-webflow.svg" alt="Webflow logo" itemprop="image">
        <span itemprop="name">Webflow</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Web design tool">
      </div>
  
      <!-- Tool 8: Senuto -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-senuto.png" alt="Senuto logo" itemprop="image">
        <span itemprop="name">Senuto</span>
        <meta itemprop="operatingSystem" content="Windows, macOS">
        <meta itemprop="applicationCategory" content="Design tool">
      </div>
  
      <!-- Tool 9: Netlify -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-netlify.png" alt="Netlify logo" itemprop="image">
        <span itemprop="name">Netlify</span>
        <meta itemprop="operatingSystem" content="Windows, macOS">
        <meta itemprop="applicationCategory" content="UI/UX design tool">
      </div>
  
      <!-- Tool 10: Eleventy -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-eleventy.png" alt="Notion logo" itemprop="image">
        <span itemprop="name">Notion</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Productivity tool">
      </div>
  
      <!-- Tool 11: Eleventy -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-eleventy.png" alt="Eleventy logo" itemprop="image">
        <span itemprop="name">Eleventy</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Animation tool">
      </div>
  
      <!-- Tool 12: Slack -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-slack.svg" alt="Slack logo" itemprop="image">
        <span itemprop="name">Slack</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Communication tool">
      </div>
  
      <!-- Tool 13: ChatGPT -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-gpt.svg" alt="ChatGPT logo" itemprop="image">
        <span itemprop="name">ChatGPT</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="AI tool">
      </div>
  
      <!-- Tool 14: GitHub -->
      <div class="tool-item d-flex align-items-center gap-1" itemscope itemtype="https://schema.org/SoftwareApplication">
        <img loading="lazy" class="me-1" width="16" src="assets/img/template/ic-git.svg" alt="GitHub logo" itemprop="image">
        <span itemprop="name">GitHub</span>
        <meta itemprop="operatingSystem" content="Web-based">
        <meta itemprop="applicationCategory" content="Version control tool">
      </div>
    </div>
  </section>