<section class="why-us container-lg" itemscope itemtype="http://schema.org/Service">
    <meta itemprop="name" content="Przemek Miros Usługi">
    <div class="container-lg pt-2 pt-xs-5 animated">
        <div class="row row-cols-1 row-cols-lg-3 g-0">
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="Layer" class="mb-2" width="36" data="assets/img/template/ic-user.svg" type="image/svg+xml"></object>
                <h2 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Bezpośredni <br class="d-md-block d-none">kontakt</h2>
                <p class="card-text text-white muted-50" itemprop="description">Rozmawiasz bezpośrebnio <br class="d-md-block d-none">z wykonawcą Twojej strony </p>
            </div>
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <img loading="lazy" class="mb-3" width="36" alt="Icon learning" src="/assets/img/template/ic-collaboration.svg">
                <h4 class="card-title pb-2 fw-normal text-white" itemprop="serviceType">Doświadczenie <br class="d-md-block d-none">w branży </h4>
                <p class="card-text text-white muted-50" itemprop="description">Korzystasz z 8 lat doświadczenia które <br class="d-md-block d-none">zdobywałem w realizacji różnych projektów</p>
            </div>
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <img loading="lazy" class="mb-3" width="36" alt="Icon learning" src="/assets/img/template/ic-integrity.svg">
                <h4 class="card-title pb-2 fw-normal text-white" itemprop="serviceType">Dbałość <br class="d-md-block d-none">o szczegóły</h4>
                <p class="card-text text-white muted-50" itemprop="description">Skupiam się na detalach, które wyróżnią <br class="d-md-block d-none">Twoją stronę i zbudują profesjonalny wizerunek</p>
            </div>
        </div>
    </div>
    <div class="container-lg pb-2 pb-xs-5 animated">
        <div class="row row-cols-1 row-cols-lg-3 pb-5 g-0">
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <img loading="lazy" class="mb-3" width="36" alt="Icon learning" src="/assets/img/template/ic-client-based.svg">
              <h4 class="card-title pb-2 fw-normal text-white" itemprop="serviceType">Partnerskie <br class="d-md-block d-none">relacje</h4>
              <p class="card-text text-white muted-50" itemprop="description">Wierzę, że najlepsze efekty powstają <br class="d-md-block d-none">w atmosferze współpracy i zaufania</p>
          </div>
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <img loading="lazy" class="mb-3" width="36" alt="Icon learning" src="/assets/img/template/ic-layers.svg">
              <h4 class="card-title pb-2 fw-normal text-white" itemprop="serviceType">Efektywność <br class="d-md-block d-none">i terminowość</h4>
              <p class="card-text text-white muted-50" itemprop="description">Szanuję Twój czas, dlatego dostarczam <br class="d-md-block d-none">projekty w uzgodnionych terminach</p>
          </div>
          <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
            <img loading="lazy" class="mb-3" width="36" alt="Icon learning" src="/assets/img/template/ic-target.svg">
              <h4 class="card-title pb-2 fw-normal text-white" itemprop="serviceType">Wsparcie <br class="d-md-block d-none">po zakończeniu</h4>
              <p class="card-text text-white muted-50" itemprop="description">Zawsze jestem dostępny, aby pomóc, <br class="d-md-block d-none">wprowadzić aktualizacje lub zmiany</p>
          </div>
        </div>
    </div>
  </section>