<section class="why-us container-lg" itemscope itemtype="http://schema.org/Service">
    <meta itemprop="name" content="UI Forge Design Services">
    <div class="container-lg pt-2 pt-xs-5 animated">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="Layer" class="mb-2" width="36" data="assets/img/template/ic-user.svg" type="image/svg+xml"></object>
                <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Bezpośredni kontakt</h3>
                <p class="card-text text-white muted-50" itemprop="description">Rozmawiasz bezpośrebnio <br/>z wykonawcą Twojej strony </p>
            </div>
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="Lighting" class="mb-2" width="36" data="assets/img/template/ic-lighting.svg" type="image/svg+xml"></object>
                <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Dostępność czasowa</h3>
                <p class="card-text text-white muted-50" itemprop="description">Jeżeli masz poważny problem <br class="d-md-block d-none">możesz zadzwonić o 3 w nocy</p>
            </div>
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="User" class="mb-2" width="36" data="assets/img/template/ic-layers.svg" type="image/svg+xml"></object>
                <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Rozpoznanie branży</h3>
                <p class="card-text text-white muted-50" itemprop="description">Przed rozpoczęciem pracy dokładnie <br class="d-md-block d-none">analizuje Twoją branżę </p>
            </div>
        </div>
    </div>
    <div class="container-lg pb-2 pb-xs-5 animated">
        <div class="row row-cols-1 row-cols-lg-3 pb-5">
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="Design" class="mb-2" width="36" data="assets/img/template/ic-design.svg" type="image/svg+xml"></object>
                <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Bezpłatny audyt</h3>
                <p class="card-text text-white muted-50" itemprop="description">Wykonam w pełni darmową, analize <br class="d-md-block d-none">Twojej strony lub sklepu </p>
            </div>
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="Cost" class="mb-2" width="36" data="assets/img/template/ic-strategy.svg" type="image/svg+xml"></object>
                <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Widoczne rezultaty</h3>
                <p class="card-text text-white muted-50" itemprop="description">Wykonam w pełni darmową, analize <br class="d-md-block d-none">Twojej strony lub sklepu </p>
            </div>
            <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
              <object title="Strategy" class="mb-2" width="36" data="assets/img/template/ic-cost.svg" type="image/svg+xml"></object>
                <h3 class="card-title pb-2 fw-normal text-white h4" itemprop="serviceType">Transparentość działań</h3>
                <p class="card-text text-white muted-50" itemprop="description">Wykonam w pełni darmową, analize <br class="d-md-block d-none">Twojej strony lub sklepu </p>
            </div>
        </div>
    </div>
  </section>