<section class="pt-medium pb-medium radius-lg bg-light-1">
    <div class="container">
        <h2 class="mt-0 mb-5">
            <span class="underline">Wybrane </span> realizacje
        </h2>
            <div class="swiper swiper-works">
                <div class="swiper-wrapper"> 
                    {% for post in collections.works.slice(0, 6) %} 
                    <div class="swiper-slide">
                        <div class="work-card radius-sm">
                            <a href="#">
                            {% workImage "src/" + post.data.thumbnail, post.data.title %}
                            <div class="work-card-content p-4">
                                <p class="subheading my-0 bold color-accent-1"> 
                                    {{ post.data.client }}
                                </p>
                                <h3 class="mt-2 color-light-1">
                                    {{ post.data.title }}
                                </h3>
                            </div>
                            </a>
                       </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button class="magnetic swiper-button-prev" data-strength="60" tabindex="0" aria-label="Previous slide" aria-controls="swiper-wrapper-4dc9810aaab19f970">
                <svg viewBox="0 0 61 61" xmlns="http://www.w3.org/2000/svg" width="61" height="61" fill="none">
                    <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
                    <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
                </svg>
            </button>
            <button class="magnetic swiper-button-next" data-strength="60" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-d2319810b78c58e2a" style="transform: rotate(0.005deg);">
                <svg viewBox="0 0 61 61" xmlns="http://www.w3.org/2000/svg" width="61" height="61" fill="none">
                    <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
                    <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
                </svg>
            </button>
            <div class="swiper-scrollbar"></div>

    </div>
</section>

<style>
    .work-card {
        position: relative
    }
    .work-card::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(13,13,13);
        background: linear-gradient(180deg, rgba(13,13,13,0) 0%, rgba(14,14,14,1) 100%); 
        transition: .4s ease-in-out;
        pointer-events: none;
        opacity: 0.75;
        z-index: 1;
    }
    .work-card-content {
        position: absolute;
        bottom: -1em;
        left: 1em;
        transition: .4s ease-in-out;
        opacity: 1;
        z-index: 3;
    }
    .work-card picture img {
        transition: .4s ease-in-out;
    }

    @media(min-width:767px) {
    .work-card::before {
        opacity: .05
    }
    .work-card-content {
        left: 1.8em;
        opacity: 0;
    }
    .work-card:hover::before {
        opacity: .9;
    }
    .work-card:hover picture img {
        transform: scale(1.1);
    }
    .work-card:hover .work-card-content {
        bottom: 0em;
        opacity: 1;
    }
    }
</style>