<section
  id="realizacje"
  class="latest-projects position-relative"
  itemscope
  itemtype="http://schema.org/CreativeWork"
>
  <div class="container pb-3 pt-5 py-5 w-60">
    <p class="accent-text text-center mb-0" itemprop="description">Zobacz</p>
    <h2 class="text-center w-100 mb-5" itemprop="headline">
      Wybrane realizacje
    </h2>
    <div class="container pb-4">
      {% for post in collections.works.slice(0, 3) %}
      <a
        href="{{ post.data.link }}"
        title="{{ post.data.title }}"
        target="_blank"
      >
        <div
          class="row row-cols-1 row-cols-lg-2 g-4 mb-5 mt-5 py-3 flex-md-row-reverse card-style align-items-stretch card-animation"
        >
          <div
            class="col mt-0"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="h-100 rounded-corners-20">
              {% workImage "src/" + post.data.thumbnail, post.data.title,
              "class" %}
            </div>
          </div>
          <div
            class="col mt-0 d-flex p-3 flex-column"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="flex-grow-1">
              <p class="h6 mb-2">{{ post.data.client }}</p>
              <h3 class="card-title h4">{{ post.data.title }}</h3>
            </div>
            <div class="mt-auto">
              <p class="my-2 muted-50 display-10">ELEMENTY:</p>
              <ul class="ps-0 mb-0">
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Projekt
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Kodowanie
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Optymalizacja
                </li>
              </ul>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
        <div class="text-center">
            <a href="/realizacje/" title="Zobacz więcej realizacji" class="btn btn-primary btn-lg ps-4 pe-4 py-2 mt-2 mb-4 d-flex" itemprop="url">Zobacz więcej realizacji
                <svg class="ms-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                      viewBox="0 0 18 18" style="width:18px;" xml:space="preserve">
                        <style type="text/css">
                                        .st0{fill:#fff;}.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#c91717;}
                        </style>
                        <g>
                                        <path class="st0" d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"/>
                                        <path class="st1" d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
                                        c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"/>
                        </g>
                  </svg>
              </a>
        </div>
    </div>
  </div>
</section>
