<section class="pt-small pt-md-medium pb-medium bg-light-1 radius-lg mt-minus-small" id="realizacje">
    <div class="container">
        <h2 class="mt-0 mb-5">
            Wybrane realizacje
        </h2>
    <div class="row">
    {% for post in collections.works.slice(0, 6) %}
        <div class="col-md-4 mb-4">
           <div class="work-card bg-light-2 radius-md">
                {% workImage "src/" + post.data.thumbnail, post.data.title %}
                <div class="work-card-content p-4">
                    <p class="subheading my-0 bold color-accent-1"> 
                        {{ post.data.client }}
                    </p>
                    <h3 class="h4 mt-2">
                        {{ post.data.title }}
                    </h3>
                </div>
           </div>
        </div>
    {% endfor %}
    </div>
    </div>
</section>